IS_DEBUG = False
SCANNING_TIME_SECAND = 10
SB_METER_MACDDR_LIST = {
    '${YOUR_MAC_ADDR}':'${YOUR_NAME}',
}

INFLUXDB_URL = 'http://${YOUR_INFLUXDB_IP}:${YOUR_INFLUXDB_PORT}'
INFLUXDB_ORG = '${YOUR_INFLUXDB_ORGANIZATION}'
INFLUXDB_TOKEN = '${YOUR_INFLUXDB_TOKEN}'
INFLUXDB_BUCKET = '${YOUR_INFLUXDB_BUCKET}'